body {
  margin: 0;
}

.sign-page {
  height: 400px;
}
.sign-page-center {
  position: relative;
  margin: 91px auto;
  width: 680px;
  height: 330px;
  text-align: left;
}
  
.check_input {
  float: left;
  margin: 0 -50px 0 121px;
  height: 22px;
  width: 22px;
  border-radius: 8px;
}
 
.sign-up {
  background: red;
  color: white;
  height: 40px;
  width: 298px; 
  border-radius: 8px;
  border: 0;
}
  
#login-page {
  width: 420px;
  height: 320px;
  float: left;
  border-radius: 8px;
  border: 1px solid #7000e3;
  margin: 100px 25%;
}
  
input {
  float: right;
  height: 38px;
  width: 258px;
  padding: 0 20px 0 18px;
  margin: 10px 60px 10px 0;
  border-radius: 8px;
  border-color: gray;
  border: 1px solid rgba(0, 0, 0, .15);
}
  
input:hover {
  border-color: #7000e3;
}
  
input:focus {
  border-color: #7000e3;
  outline: none;
}
  
button {
  background: white;
  border: 0px;
}

label {
  margin-left: 60px;
}