.page-badoo {
	height: 100%;
	width: 100%;
	margin: 0;
}
.header-page {
	background: #7000e3;
	height: 65px;
	padding: 0 20px;
	margin: 0 auto;
	position: relative;
}
.header-page__language {
	float: left;
	width: 33%;
	padding: 22px;
}
.header-page__logo {
	float: left;
	padding: 16px;
}
.header-page__sign-in {
	float: right;
	padding: 2px;
}
.sign-button{
	background: white;
	color: #7000e3;
	height: 32px;
	width: 167px;
	border-radius: 8px;
	border: 0;
}
.sign-page{
	position: relative;
    margin: 100px 30%;
    text-align: left;
}
.sign-page__login {
	padding: 20px 0;
}
.sign-page__pass {
	padding: 20px 0;
}
p {
	font-family:helvetica;
	line-height: 6px;
}
SELECT {
	background: #7000e3;
	color: white;
	border: 0;
}
INPUT {
	float:right;
	height: 40px;
	border-radius: 8px;
	border-color: gray;
	border: 1px solid rgba(0, 0, 0, .15);
}
.sign-page__login :hover {
	border-color: #7000e3;
}
.sign-page__pass :hover {
	border-color: #7000e3;
}
.sign-page__login :focus {
	border-color: #7000e3;
	outline: none;
}
.sign-page__pass :focus {
	border-color: #7000e3;
	outline: none;
}
.sign-page_input {
	padding: 0 10px;
}
.check {
	float: right;
}