.page-badoo {
	height: 100%;
	width: 100%;
	margin: 0;
}
.header-page {
	background: #7000e3;
	height: 65px;
	padding: 0 20px;
	margin: 0 auto;
	position: relative;
}
.header-page__language {
	float: left;
	padding: 22px;
	margin: 0 auto;
}
.header-page__logo {
	margin: 0 auto;
    position: relative;
}
.header-page__sign-in {
	float: right;
	padding: 2px;
}
.sign-in-button{
	background: white;
	color: #7000e3;
	height: 32px;
	width: 167px;
	border-radius: 8px;
	border: 0;
}
.sign-page__center{
    position: relative;
    margin: 100px auto;
	width: 680px;
	height:330px;
    text-align: left;	
}
.sign-page__input{
	width: 420px;
	height: 40px;
	padding-top: 20px;
}
.sign-page__input_text{
	width: 120px;
}
.check{
	width: 420px;
}
.checkbox {
	float: left;
	width: 22px;
	margin-left: 120px;
	margin-top: 20px;
}
.checkbox__text{
	padding-top: 30px;
}
.sign-up-button{
	background: #7000e3;
	color: white;
	height: 40px;
	width: 76px;
	border-radius: 8px;
	border: 0;
	margin-right: 10px;
}
.sign-page__button-sign{
	padding: 20px 0 0 120px;
	width: 300px;
}
.login-page{
	width: 420px;
	height: 280px;
	float: left;
}
.sign-page__separator{
	padding-top: 20px;
	width: 100px;
	height: 280px;
	float: left;
}
.left-line{
	width: 49px;
	height: 110px;
	border-right: 1px solid black;
	float: left;
}
.mid-line{
	width: 60px;
	height: 55px;
	margin: 38px;
	background: white;
}
.right-line{
	width: 50px;
	height: 110px;
	float: left;
}
.sign-page__more-input{
	width: 150px;
	height: 280px;
	float: left;
}
.info-page{
	position: relative;
    margin: 100px auto;
	width: 780px;
    text-align: left;
}
ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
}
ul.menu > li > a {
    display: block;
    padding: 10px;
    color: gray;
    text-decoration: none;
}
ul.menu > li > a:hover {
    background-color: white;
}
ul.submenu {
    display: none;
    position: absolute;
    width: 120px;
    top: 37px;
    left: 0;
    background-color: white;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: gray;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}
ul.menu > li:hover > ul.submenu {
    display: block;
}
p {
	font-family:helvetica;
	line-height: 6px;
}
SELECT {
	background: #7000e3;
	color: white;
	border: 0;
}
INPUT {
	float:right;
	height: 38px;
	width: 258px;
	padding: 0 20px;
	border-radius: 8px;
	border-color: gray;
	border: 1px solid rgba(0, 0, 0, .15);
}
INPUT:hover {
	border-color: #7000e3;
}
INPUT:focus {
	border-color: #7000e3;
	outline: none;
}
BUTTON {
	background: white;
	border: 0px;
	padding: 5px;
}