body {
  margin: 0;
}

.page-center__title {
  font-size: 20px;
}

.page-center__text {
  margin-top: 23px;
}

.page-center__text-2{
  margin-top: -13px;
}

.sign-page-input-log {
  height: 40px;
  width: 420px;
  margin-top: 17px;
}

.input-log__input {
  margin-top: -38px;
}

.sign-page-input-pass {
  height: 40px;
  width: 420px;
  margin-top: 20px;
}

.input-pass__input {
  margin-top: -38px;
}

.page-badoo {
  margin: 0;
}

.header {
  background: #7000e3;
  height: 65px;
  position: relative;
}

.header-page {
  background: #7000e3;
  height: 65px;
  width: 1240px;
  margin: 0 auto;
  position: relative;
}

.header-page-language {
  width: 380px;
  height: 45px;
  float: left;
  padding: 22px 0 0 25px;
}

.header-page-logo {
  float: left;
  position: relative;
  width: 270px;
  height: 45px;
  margin: 16px 0 0 160px;
}

.header-page-sign-in {
  float: right;
  padding: 2px 20px 0 0;
  width: 380px;
  height: 65px;
}
.sign-in__text{
  color: white;	
  margin-left: 82px;
}
.sign-page {
  height: 400px;
}

.sign-in__button {
  background: white;
  color: #7000e3;
  height: 32px;
  width: 165px;
  border-radius: 8px;
  border: 0;
  margin-left:14px;
}

.sign-page-center {
  position: relative;
  margin: 102px auto;
  width: 680px;
  height: 330px;
  text-align: left;
}

.sign-page-input {
  width: 420px;
  height: 40px;
  padding-top: 5px;
}

.sign-page-input__text {
  width: 120px;
  height: 20px;
  margin-top: 5px;
}

.checkbox {
  width: 420px;
  height: 50px;
  margin: 20px 0 0 2px;
}

.check_input {
  float: left;
  margin: 0 9px 0 121px;
  height: 22px;
  width: 22px;
  border-radius: 8px;
}

.sign-up__button {
  background: #7000e3;
  color: white;
  height: 40px;
  width: 76px;
  border-radius: 8px;
  border: 0;
  margin: -5px 10px 0 2px;
}

.sign-up__quest{
  font-family: helvetica;
  font-size: .93em;
  color: gray;
}

.sign-page-button-sign {
  padding: 0 0 0 120px;
  width: 301px;
}

.login-page {
  width: 420px;
  height: 280px;
  float: left;
}

.sign-page-separator {
  width: 100px;
  height: 280px;
  float: left;
}

.separator__left-line {
  width: 50px;
  height: 120px;
  border-right: 1px solid gray;
  float: left;
  margin-bottom: 10px;
}

.separator__mid-line {
  width: 60px;
  height: 55px;
  margin: 113px 0 0 36px;
  background: white;
  font-size: 19px;
  color: gray;
  font-family: helvetica;
}

.separator__right-line {
  width: 49px;
  height: 120px;
  float: left;
  margin-bottom: 10px;
}

.sign-page-more-input {
  width: 150px;
  height: 280px;
  float: left;
  margin-left: -3px;
}

.info-page {
  position: relative;
  margin: 100px auto;
  width: 1200px;
  text-align: left;
}
.header-page__select-language {
  font-size:17px;
}

.info-page__link:hover {
  color: #7000e3;
}

.more-input {
  height: 36px;
  width: 158px;
  float: left;
  padding: 3px 0 0 9px;
}

.more_text {
  padding: 5px 0 0 4px;
  float: left;
  font-family: helvetica;
  font-size: 1;
  font-stretch: semi-expanded;
  color: gray;
}

.more-input__fb {
  margin: 9px 0 8px -1px;
}

.more-input__vk {
  margin-left: -1px;
}

ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: helvetica;
  font-size: .93em;
}

ul:after {
  display: block;
  content: ' ';
  clear: both;
  float: none;
}

ul.menu > li {
  float: left;
  position: relative;
}

ul.menu > li > a {
  display: block;
  padding: 10px;
  color: gray;
  text-decoration: none;
}

ul.menu > li > a:hover {
  background-color: white;
}

ul.submenu {
  display: none;
  position: absolute;
  width: 120px;
  top: 37px;
  left: 0;
  background-color: white;
}

ul.submenu > li {
  display: block;
}

ul.submenu > li > a {
  display: block;
  padding: 10px;
  color: gray;
  text-decoration: none;
}

ul.submenu > li > a:hover {
  text-decoration: underline;
}

ul.menu > li:hover > ul.submenu {
  display: block;
}

p {
  font-family: helvetica;
  font-size: .93em;
  color: gray;
  text-align: left;
}

select {
  background: #7000e3;
  color: white;
  border: 0;
}

input {
  float: right;
  height: 38px;
  width: 258px;
  padding: 0px 20px 0px 18px;
  border-radius: 8px;
  border-color: gray;
  border: 1px solid rgba(0, 0, 0, .15);
}

input:hover {
  border-color: #7000e3;
  cursor: pointer;
}

input:focus {
  border-color: #7000e3;
  outline: none;
}

button {
  background: white;
  border: 0px;
}

button:hover {
  cursor: pointer;
}

img {
  float: left;
  margin-right: 5px;
}

.more_text:hover {
  color: #7000e3;
}
